.show_txt::-webkit-inner-spin-button,
.show_txt::-webkit-outer-spin-button,
.show_txt {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.logoLink {
  color: inherit;
  text-decoration: none;
}

/* Error Message */

.error_h1 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 3em;
  font-weight: bold;
  color: #333333;
}

.navbar {
  width: 100vw;
  height: 10vh;
  background: rosybrown;
}

.remains {
  width: 100vw;
  min-height: 90vh;
  display: flex;
  padding-top: 1em;
  padding-left: 1.5em;
  gap: 1em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: white;
}

/* Card Styling*/

.card {
  width: 850px;
  height: 400px;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  background: whitesmoke;
  border-radius: 10px;
  border: 1px solid black;
}

.card_img {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card_profile {
  width: 80%;
  height: 80%;
}

.card_other {
  grid-column: 2/3;
  padding: 0.2em;

}

.card_title {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.card_description {
  line-height: 160%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  color: #666666;
  margin-top: 10px;
}

.card_button {
  text-decoration: none;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.card_button:hover {
  background-color: #0056b3;
}

/* Card Styling*/

/* Big Card Styling */

.center {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big_card {
  width: 850px;
  height: 550px;
  background: whitesmoke;
  border-radius: 20px;
  border: 0px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

}

.big_card:hover {
  border: 2px solid black;
  transition: border 0.3s ease-in;
}

.big_card_left {
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  grid-template-rows: 0.1fr 0.8fr 0.1fr;
}

.big_card_img_div {
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;

}

.big_card_img {
  width: 60%;
  height: 80%;
}

.big_card_right {
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-template-rows: 0.1fr 0.5fr 0.1fr 0.1fr;

}

.big_card_description {
  grid-row: 2/3;

}

.for_quantity {
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.AddToCardDiv {
  grid-column: 2/3;
}

/* Big Card Styling */

/* Quantity and Price */


.parts {
  width: 150px;
  height: 40px;
  display: grid;
  grid-template-columns: 0.2fr 0.8fr 0.2fr;
  border: 1px solid black;
}

.add,
.minus {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add {
  grid-column: 1/2;
}

.show {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
}

.show_txt {
  width: 100%;
  border: 0px;
  font-size: 1em;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.show_txt:focus {
  outline: none;
}

.minus {
  grid-column: 3/4;
}

/* Quantity and Price */

/* Login */

.center_login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.body_login {
  width: 30%;
  height: 70%;
  border-radius: 60px;
  display: grid;
  padding: 1em;
  grid-template-rows: 0.2fr 0.8fr;
  background: whitesmoke;
}

.body_login_top {
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body_login_bottom {
  grid-row: 2/3;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Login */

/* Cart */

 .Cart1 {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  justify-content: center;
  padding: 1em;
  /* background: blue; */
}


.card1 {
  width: 300px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.1em;
  border-radius: 10px;
  background: whitesmoke;
  border: 1px solid black;
}

 

  .card1_img {
    width: 100%;
    height: 60%;
    object-fit: contain;
  }

  .para {
    margin: 0.4em 0px 0.4em 0px;
  }


/* Cart */
